# http://stackoverflow.com/questions/16736856/what-should-be-in-my-gitignore-for-an-android-studio-project
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
GPXKeeperOAuthData.java
samples/*
*.iml
.idea/*
*.apk
*.ap_
*.class
*.dex
